html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* width */
::-webkit-scrollbar {
  width: 0.8em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #199cdc;
}

a {
	color: #199cdc;
	text-decoration: none;
}

a:hover {
	text-shadow: 0 0 5px rgba(25,156,220,0.3);
	transition: 0.8;
}

h2 {
	color: #8c8c8c;
	font-family: Verdana;
	font-weight: bold; 
}

h3 {
	font-size: 1em;
}

h4 {
	color: #333333;
	font-family: Arial, san-serif;
	font-weight: normal; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
	padding: 0.3em
}

.card ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #199cdc; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: 0em; /* Also needed for space (tweak if needed) */
}

.edu_dl dt {
	padding-top: 1em;
	padding-bottom: 0.2em;
    font-weight: bold;
  }
.edu_dl dd {
	color: grey;
    margin: 0;
    padding: 0 0 0.5em 0;
  }

.spacener_2em {
	  padding-top: 2em;
}

.text_content {
	color: #777777;
	font-family: Arial, san-serif;
	font-weight: normal; 
}

.name {
	font-size: 3.5rem;
	font-family: "century gothic";
	font-weight: bold;
}

.explanation {
	font-family: Verdana;
}

.head_container_contact div {
	position: relative;
	right: -10vw;
	top: 47vh;

	font-family: Verdana;
}

.name, .explanation {
	position: relative;
	left: 10vw;
	top:42vh;
}

.parent_container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60vh 7vh 1fr;
	height: 100vh;	
}

.head_container {
	background-image: linear-gradient(to bottom, rgba(72, 72, 72, 0.65), rgba(20, 20, 20, 0.85)), url('images/adventure.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: white;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.bar {
	background: #e8e8e8;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.body_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
}

.body_container_about {
	background: #f5f5f5;
	padding: 3vw;
}

.body_container_info {
	background: #f0f0f0;
	padding: 3vw;
}

.body_container_projects {
	background: #f5f5f5;
	padding: 3vw;
}

.body_container_resume {
	grid-column: 1/4;
	background: #e8e8e8;
	padding-top: 10vh;
	padding-bottom: 10vh;
	padding-left: 15vw;
	padding-right: 15vw;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2vw;
}

.color_flag {
	background: #199cdc;
	width: 2.5vw;
	height: 0.3vh;
}

.card {
	position: relative;
	border: 0.1em solid #d4d4d4;
	padding: 3em;
	box-shadow: 0.4em 0.4em 1.5em rgba(0,0,0, 0.1);
}

.card:hover{
	box-shadow: 0.4em 0.4em 3em rgba(0,0,0, 0.3);
	transition: 0.7s;
}
.card:hover > .color_flag {
	width: 1.5vw;
	transition: 0.7s;
}

.card:hover > img {
	transform: rotate(7deg);
	transition: 0.7s;
}

.icon {
	position: absolute;
	top: 5vh;
	left: 16.5vw;
	width: 3.1em;
	opacity: 0.4;
}

.icon_soc_media {
	border-radius: 20%;
	border: 0.15em solid #199cdc;
	margin-top: 1em;
	width: 2em;
	height: 2em;
	padding: 0.2em;
	opacity: 0.4;
}

.icon_soc_media:hover {
	opacity: 0.8;
	transition: 0.4s;
}

.card_content {
	color: #777777;
	font-family: Arial, san-serif;
	font-weight: normal; 
}

.blue_text_style {
	color: #199cdc;
	font-weight: bold;
}

.profile_image {
   	display: block;
	margin-top: -4em;
    margin-left: auto;
    margin-right: auto;
}

.profile_image > img{
	border: 0.4em solid #199cdc;
	border-radius: 50%;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
    margin-left: auto;
    margin-right: auto 
}

/* popup modal */

.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	display: none;
	z-index: 2;
}

.modal-content {
	width: 50em;
	height: 30em;
	background-color: white;
	border-radius: 0.5em;
	position: relative;
	text-align: center;
	padding: 1em;

}

input {
	height: 10%;
	width: 50%;
	display: block;
	margin: 15px auto;
	padding: 1%;
}

.modal-content h1 {
	padding: 3%;
	color: #199cdc;
	font-family: Verdana;
}

.btn {
	background-color: #199cdc;
	color: white;
	padding: 0.4em 0.8em;
	text-align: center;
	display: inline-block;
	font-size: 1.5em;
	border-radius: 0.2em;
}

.btn_close_form {
	position: absolute;
	top: 0;
	right: 0.3em;
	background-color: rgba(0,0,0,0.0);
	color: #199cdc;
	border-style: none;
	padding: 0.4em 0.8em;
	text-align: center;
	display: inline-block;
	font-size: 3em;
	border-radius: 0.2em;
	transform: rotate(45deg);
	cursor: pointer;
}

.btn_close_form:active {
	outline: none;
    border: none;
}

.btn_contact_me {
	position: relative;
	top: -0.7em;
	background-color: #199cdc;
	color: white;
	padding: 0.4em 0.6em;
	text-align: center;
	display: inline-block;
	font-size: 1.3em;
	border-radius: 0.2em;
}

textarea {
	width: 50%;
	display: block;
	margin: 15px auto;
	padding: 1%;
}